.search-page {
	@include width-adjust;
	.nav {
		@include flex-center;
		justify-content: space-between;
		.logo {
			width: 120px;
			img {
				width: 120px;
			}
		}
		.search-field {
			flex-grow: 0.65;
			position: relative;
			color: $primary-text;
			padding: 0.35rem 1rem;
			border-radius: 25px;
			box-shadow: 0px 2px 3px rgba($color: #000000, $alpha: 0.2);
			transition: 0.25s ease-in-out;
			cursor: pointer;
			&:hover {
				box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.1);
			}
			input {
				padding: 0.5rem;
				outline: none;
				width: 100%;
				background-color: transparent;
				border: none;
			}
			svg {
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				right: 5px;
				path {
					color: $secondary-text;
				}
			}
		}

		.filter {
			width: 120px;
			.filter-button {
				width: 35px;
				height: 35px;
				border-radius: 5px;
				transition: 0.25s ease-in-out;
				padding: 0.5rem;
				box-shadow: 0px 2px 3px rgba($color: #000000, $alpha: 0.2);
				@include flex-center;
				cursor: pointer;
				&:hover {
					box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.1);
				}
			}
		}
		path {
			color: $primary-text;
		}
		@media screen and (max-width: $small-screen) {
			flex-wrap: wrap;
			.logo {
				width: 100%;
				display: flex;
				justify-content: center;
			}
			.search-field {
				width: 100%;
				display: flex;
				justify-content: center;
			}
			.filter {
				width: 100%;
				margin-top: 0.35rem;
				display: flex;
				justify-content: center;
			}
		}
	}

	.results {
		margin: 2rem 0;
		@include flex-center;
		min-height: 50vh;
		flex-wrap: wrap;
		h1 {
			text-align: center;
			@include flex-center;
			height: 100%;
			color: rgba($color: $secondary, $alpha: 0.1);
		}
		.warning {
			color: rgba($color: $secondary, $alpha: 0.5);
		}
		.animation-wrapper {
			width: 350px;
		}
		.product {
			margin: 0.75rem;
			width: 275px;
			cursor: pointer;
			padding: 1.5rem;
			border-radius: 12px;
			transition: 0.25s ease-in-out;
			&:hover {
				background-color: white;
				box-shadow: 3px 5px 15px rgba($color: $secondary, $alpha: 0.3);
			}
			@include flex-col;
			.image {
				img {
					height: 200px;
				}
			}
			.info {
				@include flex-col;
				.name {
					color: $primary-text;
					text-align: center;
					margin: 0.5rem 0;
					font-weight: bold;
					line-height: 175%;
					font-size: 18px;
				}
				.price {
					color: $secondary-text;
					text-align: center;
					margin: 0.5rem 0;
					font-weight: bold;
				}
				.link {
					display: flex;
					justify-content: center;
					align-items: center;
					color: $primary;
					font-weight: bold;
					margin: 0.5rem 0;
				}
			}
			@media screen and (max-width: $small-screen) {
				width: 265px;
				.image {
					img {
						height: 200px;
					}
				}
			}
		}
	}
	.filter-div {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba($color: #000000, $alpha: 0.5);
		min-height: 100vh;
		@include flex-center;
		.filter-modal {
			max-width: 550px;
			padding: 1rem;
			border-radius: 15px;
			background-color: white;
			@include flex-col;
			.row {
				width: 100%;
				@include flex;
				flex-wrap: wrap;
				.title {
					width: 100%;
					text-align: left;
					font-size: 19px;
					font-weight: bold;
				}
				.input-wrapper {
					width: 50%;
				}
			}
			.input-wrapper {
				width: 100%;
				@include flex-col;
				margin: 0.5rem 0;
				label {
					width: 100%;
					text-align: left;
					font-size: 16px;
				}
				input,
				select {
					margin: 0.5rem 0;
					width: 100%;
					padding: 0.5rem;
					border: none;
					border-bottom: 1px solid $secondary-text;
					outline: none;
					background-color: white;
				}
			}
		}
	}
}
